@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Definisikan warna kustom di sini jika dibutuhkan nanti */
  --color-cert-purple: #4a154b;
  --color-cert-yellow: #d4af37;
  --color-cert-green: #0f5132;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Sinkronisasi Font dengan Google Fonts dari layout.tsx */
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}